/* src/assets/styles/base/_fonts.scss  */

/*
  FuturaPT
*/

@font-face {
  font-family: 'FuturaPT';
  font-weight: 400;
  src: url('@~fonts/FuturaPT-Demi.woff');
}

@font-face {
  font-family: 'FuturaPT';
  font-weight: 500;
  src: url('@~fonts/FuturaPT-Medium.woff');
}

$futura: 'FuturaPT', sans-serif;

/*
  Montserrat
*/

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('@~fonts/montserratbold.woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('@~fonts/montserratMedium.woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('@~fonts/montserrat.woff');
}

$mont: 'Montserrat', sans-serif;
