/* src/assets/styles/utils/_colors.scss  */

$mainBg: #e5e5e5;
$mainBgDark: #f5f6fa;
$secondBg: #1d51fd;

$mainText: #343b4c;
$secondText: #a0a5b4;
$lightText: #ffffff;

$mainHeading: $secondBg;
$lightBorder: #f3f7fc;
$darkBorder: #a0a5b4;

$btnBg: $secondBg;
