/*
  border-radus
*/

$borderRad: 5px;
$borderRadLess: 2px;

/*
  Font sizes
*/

$h2: 23px;
$h2Tablet: 36px;
$h2TabletLarge: 48px;
$h2Desk: 64px;

$h2intro: 16px;
$h2introTablet: 18px;
$h2introDesk: 24px;

$h3: 24px;
$h3Tablet: 28px;
$h3Desk: 54px;

$h4: 18px;
$h4Tablet: 24px;
$h4Desk: 28px;

$h5: 16px;
$h5Tablet: 18px;
$h5Desk: 28px;

$fontLarger: 20px;
$fontLarge: 18px;
$font: 16px;
$fontLess: 14px;
$fontSmall: 12px;

$btnMainFontSize: 18px;
$btnSecFontSize: 16px;

$title: 24px;
$titleBig: 54px;

$subtitle: 18px;
$subtitleBig: 36px;

/*
  Grid sizes
*/

$sm: (
  min-width: 576px,
);
$md: (
  min-width: 768px,
);
$lg: (
  min-width: 992px,
);
$xl: (
  min-width: 1200px,
);

$landscape: (
  orientation: landscape,
);
