/* src/assets/styles/utils/_mixins.scss  */

@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin bgImg($url, $repeat: no-repeat, $position: center, $size: initial) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin btn($bg, $bgHover, $color, $colorHover) {
  background-color: $bg;
  color: $color;
  display: block;
  font-size: $btnMain;
  padding: 10px 15px;
  border: none;
  transition: $transition;
  border-radius: $borderRad;
  font-weight: 700;

  &:focus {
    background-color: $bgHover;
    color: $colorHover;
    a {
      color: $colorHover;
    }
  }
  @media #{$md} {
    &:hover {
      background-color: $bgHover;
      color: $colorHover;
      a {
        color: $colorHover;
      }
    }
    &:focus {
      outline: none;
      background-color: $bg;
      color: $colorHover;
      a {
        color: $colorHover;
      }
    }
  }
}
