/* src/assets/styles/utils/_mixins.scss  */

@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin bgImg($url, $repeat: no-repeat, $position: center, $size: initial) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin btn($bg, $bgHover, $color, $colorHover) {
  background-color: $bg;
  color: $color;
  display: block;
  font-size: $btnMain;
  padding: 10px 15px;
  border: none;
  transition: $transition;
  border-radius: $borderRad;

  &:focus {
    background-color: $bgHover;
    color: $colorHover;
    a {
      color: $colorHover;
    }
  }
  @media #{$md} {
    &:hover {
      background-color: $bgHover;
      color: $colorHover;
      a {
        color: $colorHover;
      }
    }
    &:focus {
      outline: none;
      background-color: $bg;
      color: $colorHover;
      a {
        color: $colorHover;
      }
    }
  }
}

%btn-bar {
  border-radius: $borderRad;
  @include btn(transparent, $secondBg, $secondBg, $secondText);
  position: relative;
  // box-sizing: padding-box;
  width: 44px;
  height: 32px;
  padding: 0;
  margin-right: -8px;

  &:hover,
  &:focus {
    span {
      background-color: $mainText;
      box-shadow: $boxShadow;
    }
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: $secondBg;
    opacity: 1;
    left: 10px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 8px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 15px;
    }

    &:nth-child(4) {
      top: 22px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
