/* src/assets/styles/utils/_mixins.scss  */

@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin bgImg($url, $repeat: no-repeat, $position: center, $size: initial) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin btn($bg, $bgHover, $color, $colorHover) {
  background-color: $bg;
  color: $color;
  display: inline-block;
  border: 2px solid $color;
  box-shadow: $boxShadowMaterialInit;
  transition: $transition;
  letter-spacing: 0.04ex;
  overflow: hidden;
  @extend %after;

  &:before {
    top: 50%;
    left: 50%;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba($color, 0.1);
    transform: translate(-50%, -50%);
  }

  &:active {
    &:before {
      width: 120%;
      padding-top: 120%;
      transition: width 0.2s ease-out, padding-top 0.2s ease-out;
    }
  }

  @media #{$md} {
    &:hover,
    &:focus {
      outline: none;
      color: darken($colorHover, 10%);
      box-shadow: $boxShadowMaterial;
      background: lighten($bgHover, 1%);
      border-color: darken($color, 10%);
      a {
        color: darken($colorHover, 10%);
      }
    }

    &:active {
      box-shadow: none;
      &:before {
        width: 120%;
        padding-top: 120%;
        transition: width 0.2s ease-out, padding-top 0.2s ease-out;
      }
    }
  }
}

@mixin round($size, $txtcolor, $txthover) {
  display: block;
  width: $size;
  min-width: $size;
  height: $size;
  border-radius: 50%;
  box-shadow: $boxShadowMaterialInit;
  text-align: center;
  background: $txthover;
  border: none;
  font-size: 0;

  @extend %after;

  &:before {
    top: 50%;
    left: 50%;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba($txthover, 0.1);
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    background: $txtcolor;
    box-shadow: $boxShadowMaterial;
  }

  &:active {
    box-shadow: none;
    &:before {
      width: 120%;
      padding-top: 120%;
      transition: width 0.2s ease-out, padding-top 0.2s ease-out;
      box-shadow: none;
    }
  }

  @media #{$md} {
  }
}
