/* src/assets/styles/components/_button.scss  */

%clean-button {
  border: none;
  background: none;
}

%btn-primary {
  @include btn($themeColor, $themeColor, $themeLightColor, $themeLightColor, $btnSecFontSize);
  border-radius: $borderRad;
  padding: 7px 15px;
  margin-bottom: 5px;
  text-align: center;
  border: none;
}

%btn-round-primary {
  @include btn($themeColor, $themeColor, $themeLightColor, $themeLightColor);
  border-radius: 100px;
  max-width: 300px;
  margin: 0 auto;
}

%btn-secondary {
  @include btn($themeLightColor, $themeLightColor, $themeColor, $themeColor);
  border-radius: 100px;
}

%btn-round-secondary {
  @include btn($themeLightColor, $themeLightColor, $themeColor, $themeColor);
  border-radius: 100px;
  max-width: 300px;
  margin: 0 auto;
}

%btn-main {
  @include btn($themeColor, $themeColor, $themeLightColor, $themeLightColor);
}

%btn-round-main {
  @include btn($themeColor, $themeColor, $themeLightColor, $themeLightColor);
  border-radius: 100px;
}

%btn-bar {
  border-radius: $borderRad;
  @include btn(transparent, $secondBg, $secondBg, $secondText);
  position: relative;
  // box-sizing: padding-box;
  width: 44px;
  height: 32px;
  padding: 0;
  margin-right: 0;

  &:hover,
  &:focus {
    span {
      background-color: $mainText;
      box-shadow: $boxShadow;
    }
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: $secondBg;
    opacity: 1;
    left: 8px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 6px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 13px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }

  &.isOpen {
    span {
      background: $lightText;
      &:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
      }
    }
  }
}

%round-slide-button {
  $button-size: 56px;
  $arrow-size: 14px;
  $arrow-width: 2px;
  $txtcolor: $themeSecondaryLightColor;
  $txthover: $secondBg;

  @include round($button-size, $txtcolor, $txthover);

  .round-btn-bg {
    line-height: $button-size;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    @extend %after;

    &:after {
      top: calc(50% + 0px);
      left: calc(50% + 4px);
      transform: translate(-50%, -50%) rotate(135deg);
      background: none;
      width: $arrow-size;
      height: $arrow-size;
      border-bottom: $arrow-width solid $txtcolor;
      border-right: $arrow-width solid $txtcolor;
    }
  }

  &:hover,
  &:focus {
    .round-btn-bg:after {
      background: none;
      border-bottom: $arrow-width solid $txthover;
      border-right: $arrow-width solid $txthover;
    }
  }
}

%round-social-button {
  $button-size: 56px;
  $arrow-size: 14px;
  $arrow-width: 2px;
  $txtcolor: $themeSupportColor;
  $txthover: $mainBgDark;

  @include round($button-size, $txtcolor, $txthover);

  border: 2px solid $txtcolor;

  .round--social-bg {
    @include bgImg('@~images/img/vk.svg', no-repeat, center, contain);
    line-height: $button-size;
    margin: 0 auto;
    width: 22px;
    height: 16px;
  }

  &:hover,
  &:focus {
    border: 2px solid lighten($txthover, 20%);
    background: lighten($txthover, 20%);
  }
}

.button {
  @extend %clean-button;
  font-family: $mont;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  padding: 14px 40px;
  background: $btnBg;
}
