%card-article {
  padding: 50px 20px 36px;
  margin: 7px 0;
  border: 1px solid $lightBorder;
  background: $cardBg;
  .card-img {
    width: 70px;
    height: 70px;
    @include bgImg('@~images/img/cycle.svg', no-repeat, center, contain);
    margin-bottom: 25px;
  }
  h4 {
    margin-bottom: 25px;
  }
  .card-preview {
    margin-bottom: 25px;
  }
  button {
    @extend %clean-button;
    padding: 7px 0;
    font-size: $fontLess;
    &:hover {
      color: $themeColor;
    }
  }

  &:hover {
    h4 {
      color: $themeColor;
    }
  }
}

%card {
  padding: 50px 20px 36px;
  margin: 7px 0;
  border: 1px solid $lightBorder;
  background: $cardBg;
  .card-img {
    width: 70px;
    height: 70px;
    @include bgImg('@~images/img/cycle.svg', no-repeat, center, contain);
    margin-bottom: 25px;
  }
  h4 {
    margin-bottom: 25px;
  }
  .card-preview {
    margin-bottom: 25px;
  }

  &:hover {
    h4 {
      color: $themeColor;
    }
  }
}
