.form--label {
  @extend %label;
}

.form--checkwrapper {
  @extend %check-label;
}

%label {
  position: relative;
  display: block;
  margin-bottom: 36px;
  border-bottom: 2px solid $themeSecondaryLightColor;

  mark {
    position: absolute;
    bottom: -22px;
  }
  div {
    position: absolute;
    top: calc(50% - 4px);
    transform: translate(0, -50%);
    color: $disabledText;
    font-size: $fontLess;
    transition: $transitionFast;
    @media #{$xl} {
      font-size: $font;
    }
  }

  .material-input-border {
    display: block;
    width: 100%;
    @extend %after;
    &:after,
    &:before {
      height: 2px;
      width: 0;
      bottom: 1px;
      transition: $transitionFast;
      background: $themeColor;
    }
    &:after {
      right: 50%;
    }
    &:before {
      left: 50%;
    }
  }

  input,
  select,
  textarea {
    outline: none;
    -webkit-appearance: none !important;
    appearance: none;
    display: block;
    padding: 8px 0 0;
    font-size: $fontLess;
    border: none;
    width: 100%;
    height: 53px;
  }
  @media #{$xl} {
    font-size: $font;
  }
  textarea {
    height: auto;
    min-height: 53px;
  }

  input,
  select,
  textarea {
    &:focus,
    &.full,
    &.inValid {
      & + div {
        top: 0;
        color: $themeColor;
      }

      & ~ .material-input-border {
        &:after,
        &:before {
          width: 50%;
        }
      }
    }
    &.inValid ~ .material-input-border {
      &:after,
      &:before {
        background: $themeErrorColor;
      }
    }
  }
}

%check-label {
  $checkSize: 20px;

  @include isFlex(top, left, row, no-wrap);
  padding: 14px 0;
  position: relative;

  .form--check-helper {
    position: absolute;
    width: $checkSize;
    height: $checkSize;
    background: $secondBg;
    border-radius: $borderRadLess;
    top: 14px;
    left: 0;
    color: transparent;
    font-size: $checkSize * 0.75;
    transition: $transitionFast;
    text-align: center;
    line-height: $checkSize;
  }
  .form--checkbox {
    min-width: $checkSize - 2px;
    margin-right: $checkSize - 2px;
    &:hover,
    &:focus {
      & + .form--check-helper {
        box-shadow: $boxShadowMaterial;
      }
    }
    &:checked {
      & + .form--check-helper {
        color: $ligthText;
      }
    }
  }

  .form--checkbox-text {
    font-size: $fontLess;
    line-height: 1.3em;
    @media #{$xl} {
      font-size: $font;
    }
  }

  & + .form--approve {
    font-size: $fontSmall;
    line-height: 1.5em;
    color: $secondText;
    margin-bottom: 28px;
  }
}
