#teams__page {
  .header__content {
    padding: 145px 0 220px;
    @include bgImg('@~images/bg/teamsbg320.jpg', no-repeat, center, cover);
    @media #{$md} {
      background-image: url('@~images/bg/teamsbg768.jpg');
    }
    @media #{$xl} {
      background-image: url('@~images/bg/teamsbg1200.jpg');
    }
  }
}
