<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#0E0E0E" />
    <meta name="theme-color" content="#0E0E0E" />
    <meta name="description" content="Index page" />
    <meta name="keywords" content="index, page" />
    <meta name="author" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png" />
    <link rel="shortcut icon" href="./assets/images/favicon.ico" />
    <title>Arateg</title>
    <link href="../manifest.json" rel="manifest" />
    <meta name="msapplication-config" content="../browserconfig.xml" />


  </head>

  <body id="cases__page">
    <header class="header" id="header">
      <div class="header__head-wrapper">
          <div class="header__head">
              <a href="./index.html" class="header__head-logo">
      
              </a>
              <nav class="header__nav secondary">
                <a href="index.html" class="header__nav-logo">

                </a>
                <ul class="header__nav-list">
                  <li class="header__nav-item header__nav-item_mobile">
                    <a href="index.html" class="header__nav-anchor main--link">Home</a>
                  </li>
                  <li class="header__nav-item">
                    <a href="services.html" class="header__nav-anchor main--link">Services</a>
                  </li>
                  <li class="header__nav-item">
                    <a href="cases.html" class="header__nav-anchor active main--link">Case studies</a>
                  </li>

                </ul>
                <a href="./contacts.html" class="header__nav-btn button--primary--round">
                  Get in touch
                </a>
              </nav>
              <div class="header__head-open-button  button--bar">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
      </div>
      <div class="header__content">
        <div class="section--filter">

        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="header__content-heading">
                  Case studies 
              </h1>
              <p class="header__content-intro">
                  Full-stack development, integration, support
                 and maintenance.
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="cases" id="cases">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <article class="cases__wrapper cases__wrapper_zorka">
              <div class="section--filter">

              </div>
              <div class="section--gradient">

              </div>
              <div class="cases__content">
                <h4 class="cases__heading">
                    Software Design and Development for
                    <p> Zorka.Mobi</p> 
                </h4> 
                <p class="cases__intro">
                    Arateg has provided Zorka.Mobi with a wide range of services including software product development, architecture design and technical support. Among these solutions are web site, powerful loyalty program and corporate portal to manage all the inhouse activity and processes.
                </p>
              </div>
              <div class="cases__buttons">
                <button class="cases__btn button--secondary--small">Django</button>
                <button class="cases__btn button--secondary--small">React</button>
                <button class="cases__btn button--secondary--small">CSS3</button>
                <button class="cases__btn button--secondary--small">Storybook</button>
                <button class="cases__btn button--secondary--small">MongoDB</button>
                <button class="cases__btn button--secondary--small">Webpack</button>
                <button class="cases__btn button--secondary--small">Jest</button>
                <button class="button--primary--round--small cases__view-btn">View case study</button>
              </div>

            </article>
          </div>
          <div class="col-12">
            <article class="cases__wrapper cases__wrapper_learning">
              <div class="section--filter">

              </div>
              <div class="section--gradient">
                
              </div>
              <div class="cases__content">
                <h4 class="cases__heading">
                  Learning Management
                  <p>System</p> 
                </h4> 
                <p class="cases__intro">
                    Arateg was responsible for custom solution development. Courses, students and trainers management, revenue management system and marketing analytics.
                </p>
              </div>
              
              <div class="cases__buttons">
                <button class="cases__btn button--secondary--small">Django</button>
                <button class="cases__btn button--secondary--small">React</button>
                <button class="cases__btn button--secondary--small">CSS3</button>
                <button class="cases__btn button--secondary--small">Storybook</button>
                <button class="cases__btn button--secondary--small">MongoDB</button>
                <button class="cases__btn button--secondary--small">Webpack</button>
                <button class="cases__btn button--secondary--small">Jest</button>
                <button class="button--primary--round--small cases__view-btn">View case study</button>
              </div>
            </article>
          </div>
          <div class="col-12">
            <article class="cases__wrapper cases__wrapper_pintel">
              <div class="section--filter">

              </div>
              <div class="section--gradient">
                    
              </div>
              <div class="cases__content">
                <h4 class="cases__heading">
                  ERP for Pintel<sup>TM</sup> 
                </h4>
                <p class="cases__intro">
                  Arateg has provided Zorka.Mobi with a wide range of services including software product development, architecture design and technical support. Among these solutions are web site, powerful loyalty program and corporate portal to manage all the inhouse activity and processes.
                </p> 
              </div>

              <div class="cases__buttons">
                <button class="cases__btn button--secondary--small">Django</button>
                <button class="cases__btn button--secondary--small">React</button>
                <button class="cases__btn button--secondary--small">CSS3</button>
                <button class="cases__btn button--secondary--small">Storybook</button>
                <button class="cases__btn button--secondary--small">MongoDB</button>
                <button class="cases__btn button--secondary--small">Webpack</button>
                <button class="cases__btn button--secondary--small">Jest</button>
                <button class="button--primary--round--small cases__view-btn">View case study</button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>


    <section class="mainform" id="mainform">
      <div class="section--filter">

      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="mainform__heading">
                We’d love to work with you
            </h3>
            <p class="mainform__intro">
                Full-stack development, integration, support and maintenance. 
            </p>
            <p class="mainform__intro"> 
                We help you design and develop a top notch digital products.
            </p>
            <form action="" method="POST" class="mainform__form" id="mainform__form">
                <div class="mainform__success">
                    <div class="mainform__success-content popup--content">
                      <div class="mainform__success-img popup--img">
                      </div>
                      <h6 class="mainform__success-heading popup--heading">
                        Thank you for contacting!
                      </h6>
                      <p class="mainfom__success-intro popup--intro">
                        We’re working quickly to develop a customized response for you. We’ll get in touch with you shortly!
                      </p>
                    </div>
                  </div>
              <div class="mainform__inputs mainform__inputs_main">
                <label class="mainform__label form--label">
                  <input type="text" novalidate name="name" class="mainform__input">
                  <div class="mainform__input-support">Name</div>
                  <span class="material-input-border"></span>
                </label>
                <label class="mainform__label form--label">
                  <input type="text" novalidate name="company" class="mainform__input">
                  <div class="mainform__input-support">Company</div>
                  <span class="material-input-border"></span>
                </label>
                <label class="mainform__label form--label">
                  <input type="email" novalidate name="email" class="mainform__input">
                  <div class="mainform__input-support">Email</div>
                  <span class="material-input-border"></span>
                </label>
                <label class="mainform__label form--label">
                  <input type="tel" name="phone" class="mainform__input">
                  <div class="mainform__input-support">Phone</div>
                  <span class="material-input-border"></span>
                </label>

              </div>
              <div class="mainform__inputs mainform__inputs_textarea">
                  <label class="mainform__label form--label mainform__label_textarea">
                    <textarea name="about" class="mainform__textarea" ></textarea>
                    <div class="mainform__input-support">Please, drop us a line about your project</div>
                    <span class="material-input-border"></span>
                  </label>
              </div>
              <div class="mainform__inputs mainform__inputs_drag" id="mainform__inputs_drag">
                <div class="mainform__drag-files">
                  
                </div>
                <label class="mainform__drag-label" id="mainform__drag-label">
                    <input type="file" name="file" id = "mainform__drag-input" class="mainform__input-drag mainform__drag-input">
                    <div class="mainform__drag-support">
                      <div class="mainform__drag-img">

                      </div>
                      <p class="mainform__drag-heading" id="mainform__drag-heading">
                          Drag & drop files here …

                      </p>
                      <p class="mainform__drag-text"
                      id="mainform__drag-text">
                          File requirements: pdf, doc, docx, rtf, ppt, pptx; max 10mb  
                      </p>
                    </div>
                </label>

              </div>
              <div class="mainform__inputs mainform__inputs_check">
                <label class="mainform__checkwrapper form--checkwrapper">
                  <input type="checkbox" name="agree" class="mainform__checkbox form--checkbox">
                  <div class="form--check-helper"></div>
                  <div class="mainform__checkbox-text form--checkbox-text">
                      Согласен с условиями использования
                  </div>
                </label>
                <p class="mainform__approve form--approve">
                    We’ll add your contact details provided in this form to our CRM for contacting you with regard to your request. For more info please consult our Term of Use and Privacy policy.
                </p>
                
              </div>
              <div class="mainform__inputs mainform__inputs_submit">
                  <button formnovalidate id = "mainform__submit" class="mainform__submit button--primary--round">
                      Get in touch
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-5 col-xl-6  col-xxl-7">
              <div class="footer__social">
                <div class="footer__social-logo"></div>
                <div class="footer__social-buttons">
                  <button class="button--social--round footer__social-btn footer__social-btn_vk">
                    <div class="round--social-bg"></div>
                  </button>
                  <button class="button--social--round footer__social-btn footer__social-btn_facebook">
                    <div class="round--social-bg"></div>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="footer__services">
                <h6 class="footer__services-heading">
                  Services
                </h6>
                <ul class="footer__services-list">
                  <li class="footer__services-item">
                    <a href="./software.html" class="footer__services-link footer--link">Software Engigeering</a>
                  </li>
                  <li class="footer__services-item">
                    <a href="./teams.html" class="footer__services-link footer--link">Dedicated Teams</a>
                  </li>
                  <li class="footer__services-item">
                    <a href="./uiux.html" class="footer__services-link footer--link">Business Analysis & UX</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="footer__company">
                <h6 class="footer__company-heading">
                  Company
                </h6>
                <ul class="footer__company-list">
                  <li class="footer__company-item">
                    <a href="./cases.html" class="footer__company-link footer--link">Case studies</a>
                  </li>
                  <li class="footer__company-item">
                    <a href="./contacts.html" class="footer__company-link footer--link">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom">
                <div class="footer__bottom-copyright">
                  © 2016-2019 Arateg, All rights reserved
                </div>
  
                <ul class="footer__bottom-links">
                  <li class="footer__bottom-item">
                    <a href="./content.html" class="footer__bottom-link footer--static--link">Term of Use</a>
                  </li>
                  <li class="footer__bottom-item">
                    <a href="./content.html" class="footer__bottom-link footer--static--link">Privacy Policy</a>
                  </li>
                  <li class="footer__bottom-item">
                    <a href="./sitemap.html" class="footer__bottom-link footer--static--link">Site Map</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>
