<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#0E0E0E" />
    <meta name="theme-color" content="#0E0E0E" />
    <meta name="description" content="Index page" />
    <meta name="keywords" content="index, page" />
    <meta name="author" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png" />
    <link rel="shortcut icon" href="./assets/images/favicon.ico" />
    <title>Arateg</title>
    <link href="../manifest.json" rel="manifest" />
    <meta name="msapplication-config" content="../browserconfig.xml" />
  </head>

  <body id="sitemap__page">
    <header class="header" id="header">
      <div class="header__head-wrapper">
        <div class="header__head">
          <a href="index.html" class="header__head-logo"> </a>
          <nav class="header__nav secondary">
            <a href="index.html" class="header__nav-logo"> </a>
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a href="index.html" class="header__nav-anchor main--link">Home</a>
              </li>
              <li class="header__nav-item">
                <a href="services.html" class="header__nav-anchor main--link">Services</a>
              </li>
              <li class="header__nav-item">
                <a href="cases.html" class="header__nav-anchor main--link">Case studies</a>
              </li>
            </ul>
            <button class="header__nav-btn button--primary--round">
              Get in touch
            </button>
          </nav>
          <div class="header__head-open-button  button--bar">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="header__content">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="header__content-heading">
                Site Map
              </h1>
              <p class="header__content-intro">
                Lorem Ipsum is simply dummy text of the printing and <em>typesetting industry.</em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="sitemap" id="sitemap">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="sitemap__item sitemap__item_main">
              <h6 class="sitemap__heading sitemap__heading_main">
                Homepage
              </h6>
              <ul class="sitemap__list">
                <li class="sitemap__item  ">
                  <h6 class="sitemap__heading_second sitemap__heading">Services</h6>
                  <ul class="sitemap__list_second sitemap__list">
                    <li class="sitemap__item_second sitemap__item">
                      <a href="" class="sitemap__anchor">
                        Software Engineere
                      </a>
                    </li>
                    <li class="sitemap__item_second sitemap__item">
                      <a href="" class="sitemap__anchor">BA &amp; UX consulting</a>
                    </li>
                    <li class="sitemap__item_second sitemap__item">
                      <a href="" class="sitemap__anchor">Dedicated Team</a>
                    </li>
                  </ul>
                </li>
                <li class="sitemap__item  ">
                  <h6 class="sitemap__heading_second sitemap__heading">Case Studies</h6>
                  <ul class="sitemap__list_second sitemap__list">
                    <li class="sitemap__item_second sitemap__item">
                      <a href="" class="sitemap__anchor">Case studies 1</a>
                    </li>
                    <li class="sitemap__item_second sitemap__item">
                      <a href="" class="sitemap__anchor">Case studies 2</a>
                    </li>
                    <li class="sitemap__item_second sitemap__item">
                      <a href="" class="sitemap__anchor">Case studies 3</a>
                    </li>
                  </ul>
                </li>

                <li class="sitemap__item   sitemap__item_nochildrens">
                  <a href="./services.html" class="sitemap__heading sitemap__anchor">
                    Contacts
                  </a>
                </li>
                <li class="sitemap__item   sitemap__item_nochildrens">
                  <a href="./services.html" class="sitemap__heading sitemap__anchor">
                    Terms of Use
                  </a>
                </li>
                <li class="sitemap__item sitemap__item_nochildrens">
                  <a href="./services.html" class="sitemap__heading sitemap__anchor">
                    Privacy Policy
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5 col-xl-6  col-xxl-7">
            <div class="footer__social">
              <div class="footer__social-logo"></div>
              <div class="footer__social-buttons">
                <button class="button--social--round footer__social-btn footer__social-btn_vk">
                  <div class="round--social-bg"></div>
                </button>
                <button class="button--social--round footer__social-btn footer__social-btn_facebook">
                  <div class="round--social-bg"></div>
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="footer__services">
              <h6 class="footer__services-heading">
                Services
              </h6>
              <ul class="footer__services-list">
                <li class="footer__services-item">
                  <a href="javascript:void(0);" class="footer__services-link footer--link">Software Engigeering</a>
                </li>
                <li class="footer__services-item">
                  <a href="javascript:void(0);" class="footer__services-link footer--link">Dedicated Teams</a>
                </li>
                <li class="footer__services-item">
                  <a href="javascript:void(0);" class="footer__services-link footer--link">Business Analysis & UX</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="footer__company">
              <h6 class="footer__company-heading">
                Company
              </h6>
              <ul class="footer__company-list">
                <li class="footer__company-item">
                  <a href="javascript:void(0);" class="footer__company-link footer--link">Case studies</a>
                </li>
                <li class="footer__company-item">
                  <a href="javascript:void(0);" class="footer__company-link footer--link">Contact us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="footer__bottom">
              <div class="footer__bottom-copyright">
                © 2016-2019 Arateg, All rights reserved
              </div>

              <ul class="footer__bottom-links">
                <li class="footer__bottom-item">
                  <a href="javascript:void(0);" class="footer__bottom-link footer--static--link">Term of Use</a>
                </li>
                <li class="footer__bottom-item">
                  <a href="javascript:void(0);" class="footer__bottom-link footer--static--link">Privacy Policy</a>
                </li>
                <li class="footer__bottom-item">
                  <a href="javascript:void(0);" class="footer__bottom-link footer--static--link">Site Map</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
