.clientsay {
  padding: 0;
  &__pattern {
    height: 695px;
  }
  &__content-wrapper {
    background: $mainBgDark;
    padding: 45px 0 185px;
    @media #{$md} {
      padding: 90px 0 185px;
    }
  }
  &__intro {
    padding-bottom: 37px;
  }
  &__slider {
    margin-bottom: 75px;
    padding-bottom: 70px;
    @media #{$md} {
      bottom: 20px;
    }
    @media #{$xl} {
      padding: 0 65px 50px;
      margin-bottom: 55px;
    }

    &-wrapper {
      margin-top: -185px;
      @media #{$xl} {
        margin-top: -150px;
      }
    }
    .sick-slide {
      padding: 0 5px;
      font-size: 0;
      @media #{$xl} {
        padding: 0 20px;
      }
      & > div {
        box-shadow: $boxShadowCard;
        margin-bottom: 5px;
        background: $themeLightColor;
      }
    }
  }
  &__arrow {
    bottom: -65px;
    z-index: 2;
    @media #{$md} {
      bottom: 110px;
    }
    @media #{$xl} {
      bottom: 90px;
    }
    &.slick {
      &-prev {
        right: calc(50% + 10px);
        @media #{$md} {
          left: auto;
          right: 100px;
        }
        @media #{$xl} {
          right: 210px;
        }
      }

      &-next {
        left: calc(50% + 10px);
        @media #{$md} {
          left: auto;
          right: 20px;
        }
        @media #{$xl} {
          right: 130px;
        }
        .round-btn-bg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__slide {
    background-color: $themeLightColor;
    &-wrapper {
      width: 100%;
      height: 100%;
      @media #{$md} {
        @include isFlex(center, space-between, row, nowrap);
      }
    }
    &-img {
      @include bgImg('@~images/bg/Director320.jpg', no-repeat, center, cover);
      height: 180px;
      margin-bottom: 20px;
      width: 100%;
      @media #{$md} {
        width: 290px;
        min-width: 290px;
        height: auto;
        align-self: stretch;
        margin-bottom: 0;
        @include bgImg('@~images/bg/Director768.jpg', no-repeat, center top, cover);
      }
      @media #{$xl} {
        min-width: 320px;
      }
      &_solution {
        background-image: url('@~images/bg/solution1_320.jpg');
        @media #{$md} {
          background-image: url('@~images/bg/solution1_768.jpg');
        }
        @media #{$xl} {
          background-image: url('@~images/bg/solution1_1200.jpg');
        }
        @media #{$xxl} {
          background-image: url('@~images/bg/solution1_1920.jpg');
        }
      }
    }
    &-content {
      padding: 20px;
      @media #{$md} {
        padding: 40px 20px;
      }
      @media #{$xl} {
        padding: 50px 30px;
      }
    }

    &-position {
      margin-bottom: 24px;
      letter-spacing: 0.07em;
      @media #{$md} {
        margin-bottom: 30px;
      }
    }
    &-intro {
      @media #{$md} {
        line-height: 1.8em;
      }
    }

    &-learnmore {
      color: $linkHover;
      margin-bottom: 20px;
      padding: 0;
      font-size: $fontLess;
      text-decoration: underline;
      margin-top: 20px;

      @media #{$md} {
        margin: 28px 0;
        font-size: $font;
      }
      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    &-logo {
      @include bgImg('@~images/img/GroupGray.svg', no-repeat, left center, contain);
      height: 28px;
      margin: 20px 0;
      display: block;
      @media #{$md} {
        margin: 32px 0 12px;
      }
    }
  }
  &_fullimg {
    .clientsay {
      &__intro {
        font-size: $font;
        line-height: 1.5em;
        padding-top: 0.25em;
        padding-bottom: 1.75em;
      }
      &__slide {
        &-img {
          width: 100%;
          height: 515px;
        }
      }
      &__arrow {
        @media #{$md} {
          bottom: 0;
        }
      }
    }
  }
}
