.header {
  position: relative;
  color: $ligthText;
  padding-top: 70px;
  @media #{$xl} {
    padding-top: 0;
  }

  &__head {
    @include isFlex(center, space-between);
    &-wrapper {
      padding: 19px 10px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      background: $themeLightColor;
      box-shadow: $boxShadowCard;
      @media #{$md} {
        padding: 19px 20px;
      }
      @media #{$xl} {
        background: transparent;
        box-shadow: none;
        position: relative;
        padding: 0;
      }
    }
    &-logo {
      @include bgImg('@~images/img/Group.svg', no-repeat, center, contain);
      width: 128px;
      height: 26px;
      @media #{$xl} {
        display: none;
      }
    }

    &-open-button {
      @extend %btn-bar;
      border: 2px solid transparent;
      z-index: 1;

      @media #{$xl} {
        display: none;
      }
      &:hover,
      &:focus {
        border: 2px solid transparent;
      }
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 70px);
    height: 100%;
    @include isFlex(center, space-between, column, nowrap);
    z-index: 1;
    background: $themeLightColor;
    padding: 50px 30px;
    transition: $transition;
    @media #{$md} {
      justify-content: flex-start;
    }
    @media #{$xl} {
      left: 0;
      width: 100%;
      margin: 0 auto;
      height: auto;
      flex-direction: row;
      padding: 18px calc(50vw - 475px);
      background: transparent;
      position: absolute;
      justify-content: space-between;
    }

    @media #{$landscape} and (max-width: 991px) {
      padding: 5% 30px;
    }

    &:before {
      content: '';
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background: $navOpacityBgInitial;
      position: absolute;
      transition: $transition;
    }

    &.isOpen {
      left: 0;
      &:before {
        content: '';
        right: -100vw;
        width: 100vw;
        background: $navOpacityBg;
      }
    }

    &-logo {
      @include bgImg('@~images/img/Group.svg', no-repeat, center, contain);
      width: 164px;
      height: 32px;
      @media #{$xl} {
        width: 212px;
        height: 54px;
        background-image: url('@~images/img/GroupWhite.svg');
      }
    }
    &-list {
      text-align: center;
      @include isFlex(center, space-between, column, nowrap);
      height: 33%;
      min-height: 120px;
      max-height: 200px;
      @media #{$md} {
        margin: 30px 0;
      }
      @media #{$xl} {
        flex-direction: row;
        margin: 0;
      }
    }

    &-anchor {
      color: $linkHover;
      font-size: $fontLarge;
      padding: 10px 15px;
      display: inline-block;
      font-weight: 700;
      &:focus,
      &:hover {
        color: $linkHover;
        box-shadow: $boxShadowMaterial;
        background: $themeLightColor;
      }
      &:active {
        box-shadow: none;
      }
      @media #{$xl} {
        color: $ligthText;
        &:focus,
        &:hover {
          background: $linkHover;
          color: $ligthText;
        }
      }
    }

    &-btn {
      @extend %btn-round-primary;
      border: none;
      width: 100%;

      @media #{$xl} {
        width: auto;
        margin: 0;
      }
    }
    &.secondary {
      @media #{$xl} {
        background: $themeLightColor;
        padding: 4px calc(50vw - 475px);
        .header__nav {
          &-logo {
            background-image: url('@~images/img/Group.svg');
          }
          &-anchor {
            color: $mainText;
          }
        }
      }
    }
  }

  &__slider {
    &-number {
      position: absolute;
      bottom: 10%;
      right: 12px;
      font-family: $futura;
      font-size: 14px;
      font-weight: 600;
      @media #{$xl} {
        right: calc(50vw - 475px);
        font-size: 28px;
      }
    }
    .slick {
      &-dots {
        position: absolute;
        bottom: 10%;
        left: 7px;
        display: flex;
        @media #{$xl} {
          left: calc(50vw - 475px);
        }

        button {
          @extend %after;
          font-size: 0;
          padding: 0;
          width: 21px;
          height: 21px;
          background: transparent;
          border: none;
          @media #{$xl} {
            width: 32px;
            height: 32px;
          }
          &:after {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $mainBg;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media #{$xl} {
              width: 8px;
              height: 8px;
            }
          }
        }

        .slick-active {
          button {
            &:after {
              width: 10px;
              height: 10px;
              @media #{$xl} {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
  &__slide {
    @include bgImg('@~images/bg/content320.jpg', no-repeat, center, cover);
    height: calc(100vh - 50px);
    @extend %after;
    .container,
    .row,
    .col {
      height: 100%;
    }
    &:before {
      @extend %filter;
    }
    &-content {
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 100%;
      padding: 0 12px;
      @media #{$md} {
        padding: 0 100px;
      }
      @media #{$xl} {
      }
      &-heading {
        margin-top: -2em;
        @media #{$md} {
          margin-top: -0.6em;
        }
        @media #{$xl} {
          margin-top: 0;
        }
      }
    }
  }
  &__content {
    padding: 75px 0 50px;
    @media #{$md} {
      padding: 95px 0;
    }
    @media #{$xl} {
      margin-top: 130px;
      padding: 80px 0;
    }
    &-heading {
      @media #{$md} {
        font-size: $h2TabletLarge;
        em {
          display: block;
        }
      }
      @media #{$xl} {
        font-size: $h2Desk;
      }
    }
    &-intro {
      em {
        @media #{$md} {
          display: block;
        }
      }

      @media #{$xl} {
      }
    }
  }
}
