.header {
  position: relative;
  color: $ligthText;
  padding-top: 70px;
  @media #{$xl} {
    padding-top: 0;
  }

  &__head {
    @include isFlex(center, space-between);
    &-wrapper {
      padding: 17px 10px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      background: $themeLightColor;
      box-shadow: $boxShadowCard;
      @media #{$md} {
        padding: 19px 20px;
      }
      @media #{$xl} {
        background: transparent;
        box-shadow: none;
        position: relative;
        padding: 0;
      }
    }
    &-logo {
      @include bgImg('@~images/img/Group.svg', no-repeat, center, contain);
      width: 128px;
      height: 26px;
      @media #{$xl} {
        display: none;
      }
    }

    &-open-button {
      border: 2px solid transparent;
      z-index: 1;
      margin-right: -9px;

      @media #{$xl} {
        display: none;
      }
      &:hover,
      &:focus {
        border: 2px solid transparent;
      }
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 70px);
    height: 100%;
    @include isFlex(center, space-between, column, nowrap);
    z-index: 1;
    background: $themeLightColor;
    padding: 50px 30px;
    transition: $transition;
    @media #{$md} {
      justify-content: flex-start;
    }
    @media #{$xl} {
      left: 0;
      width: 100%;
      margin: 0 auto;
      height: auto;
      flex-direction: row;
      padding: 18px calc(50vw - 475px);
      background: $themeLightColor;
      position: absolute;
      justify-content: space-between;
    }
    @media #{$xxl} {
      padding: 18px 90px;
      max-width: 1920px;
    }

    @media #{$landscape} and (max-width: 991px) {
      padding: 5% 30px;
    }

    &:before {
      content: '';
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background: $navOpacityBgInitial;
      position: absolute;
      transition: $transition;
    }

    &.isOpen {
      left: 0;
      &:before {
        content: '';
        right: -100vw;
        width: 100vw;
        background: $navOpacityBg;
      }
    }

    &-logo {
      @include bgImg('@~images/img/Group.svg', no-repeat, center, contain);
      width: 164px;
      height: 32px;
      @media #{$xl} {
        width: 212px;
        height: 54px;
        background-image: url('@~images/img/Group.svg');
      }
    }
    &-list {
      text-align: center;
      @include isFlex(center, space-between, column, nowrap);
      height: 33%;
      min-height: 120px;
      max-height: 200px;
      @media #{$md} {
        margin: 30px 0;
      }
      @media #{$xl} {
        height: 120px;
        flex-direction: row;
        margin: 0 50px 0 auto;
      }
      @media #{$xxl} {
        margin-right: 65px;
      }
    }

    &-item {
      @media #{$xxl} {
        margin: 0 15px;
      }
    }

    &-anchor {
      color: $linkHover;
      font-size: $fontLarge;
      padding: 10px 15px;
      display: inline-block;
      font-weight: 700;

      @media #{$xl} {
        color: $mainText;
      }
    }

    &-btn {
      border: none;
      width: 100%;
      padding: 20px 30px;
      @media #{$xl} {
        padding: 20px 50px;
      }
      @media #{$xl} {
        width: auto;
        margin: 0;
      }
    }
    &.fixed {
      position: fixed;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: $boxShadowCard;

      .header {
        &__nav-list {
          height: 60px;
          min-height: 60px;
        }
      }
    }
    &_main {
      @media #{$xl} {
        background: transparent;
        .header__nav {
          &-logo {
            background-image: url('@~images/img/GroupWhite.svg');
          }
          &-anchor {
            color: $ligthText;
            &.active,
            &:hover,
            &:focus {
              border-bottom: 2px solid $themeLightColor;
            }
          }
        }
      }
      &.fixed {
        background: $themeSupportColor;
      }
    }
  }

  &__slider {
    &-number {
      position: absolute;
      bottom: 10%;
      right: 12px;
      font-family: $futura;
      font-size: 14px;
      font-weight: 600;
      @media #{$xl} {
        right: calc(50vw - 475px);
        font-size: 28px;
      }
      @media #{$xxl} {
        right: 90px;
        bottom: 11%;
      }
    }
    &-list {
      .section--filter {
        @media #{$md} {
          width: 41%;
        }
        @media #{$xl} {
          width: 27%;
        }
      }
    }
  }

  &__slide {
    @include bgImg('@~images/bg/content320.jpg', no-repeat, center, cover);
    height: calc(100vh - 50px);
    max-height: 880px;
    position: relative;

    @media #{$xxl} {
      height: calc(100vh - 60px);
    }

    .container,
    .row,
    .col {
      height: 100%;
    }

    &-content {
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 100%;
      padding: 0 12px;
      @media #{$md} {
        padding: 0 9% 0 18%;
      }
      @media #{$xl} {
        padding: 0;
      }
      @media #{$xxl} {
        padding: 0 10% 0 20px;
      }
      &-heading {
        margin-top: -2em;
        @media #{$md} {
          margin-top: -0.6em;
        }
        @media #{$xl} {
          margin-top: -0.2em;
        }
        @media #{$xxl} {
          margin-top: 0;
          margin-bottom: 0.3em;
        }
      }
      &-intro {
        @media #{$xl} {
          padding-right: 20%;
        }
      }
    }
  }
  &__content {
    padding: 75px 0 50px;
    @media #{$md} {
      padding: 95px 0;
    }
    @media #{$xl} {
      margin-top: 130px;
      padding: 80px 0;
    }
    &-heading {
      @media #{$md} {
        font-size: $h2TabletLarge;
        em {
          display: block;
        }
      }
      @media #{$xl} {
        font-size: $h2Desk;
      }
    }
    &-intro {
      em {
        @media #{$md} {
          display: block;
        }
      }

      @media #{$xl} {
      }
    }
  }
  &__slider_support {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: calc(100vh - 50px);
    width: 100%;
    &-wrapper {
      width: 100%;
      position: relative;
    }
    .header {
      &__slide {
        background: none;
      }
    }
  }
}
