.lists {
  padding-bottom: 0;
  &__heading {
    margin-top: 0.2em;
  }
  &__intro {
    margin-bottom: 42px;
  }
  &__col {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 25px;
    @include isFlex(flex-start, left);
    &-heading {
      font-size: $h4 * 1.33;
      margin-top: 2px;
    }
  }
  &__content {
    padding-left: 12px;
  }
  &__img {
    @include bgImg('@~images/img/Frontend.svg', no-repeat, center, contain);
    width: 72px;
    height: 64px;
    &_backend {
      background-image: url('@~images/img/Backend.svg');
    }
    &_mobile {
      background-image: url('@~images/img/Mobile.svg');
    }
    &_cloud {
      background-image: url('@~images/img/Cloud.svg');
    }
    &_databases {
      background-image: url('@~images/img/Databases.svg');
    }
  }
  &__list {
    padding: 0px 0 5px;
  }
  &__item {
    margin: 8px 0 16px;
    color: $secondText;
  }
}
