.mainform {
  padding-top: 51px;
  @include bgImg('@~images/bg/form320.jpg', no-repeat, center, cover);
  @extend %after;
  &:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $secondBg;
    opacity: 0.8;
    transform: none;
  }

  &__heading {
    color: $lightText;
    margin-bottom: 14px;
  }
  &__intro {
    color: $lightText;
  }
  &__form {
    background: $themeLightColor;
    margin-top: 50px;
    padding: 31px 18px 50px;
  }
  &__label {
    width: 100%;
    @extend %label;
    &_textarea {
      height: auto;
      min-height: 70px;
      padding-top: 20px;
    }
  }
  &__textarea {
    min-height: 70px;
    padding-top: 20px;
  }
  &__inputs {
    &_drag {
      margin-top: 33px;
      label {
        border: 1px dashed $darkBorder;
        padding: 20px 15px 25px;
      }
      div {
        pointer-events: none;
      }
      mark {
        display: block;
        background: lightcoral;
      }
    }
  }
  &__drag {
    &-img {
      width: 36px;
      height: 36px;
      margin: 7px auto;
      @include bgImg('@~images/img/download.svg', no-repeat, center, contain);
    }
    &-label {
      @include isFlex();
      position: relative;
      margin-bottom: 20px;
    }
    &-input {
      position: absolute;
      top: 0;
      visibility: hidden;
    }
    &-heading {
      text-align: center;
    }
    &-text {
      text-align: center;
      font-size: $fontSmall;
      color: $themeSecondaryColor;
    }
  }

  &__checkwrapper {
    @extend %check-label;
  }
  &__submit {
    @extend %btn-round-primary;
    border: none;
    width: 100%;
    padding: 17px 30px 19px;
  }
}
