.mainform {
  padding-top: 51px;
  @include bgImg('@~images/bg/form320.jpg', no-repeat, center, cover);
  @extend %after;
  &:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $secondBg;
    opacity: 0.8;
    transform: none;
  }

  &__heading {
    color: $lightText;
    margin-bottom: 14px;
  }
  &__intro {
    color: $lightText;
  }
  &__form {
    background: $themeLightColor;
    margin-top: 50px;
    padding: 31px 18px 50px;
  }
  &__label {
    width: 100%;
    @extend %label;
    &_textarea {
      height: auto;
      min-height: 70px;
      padding-top: 20px;
    }
  }
  &__textarea {
    min-height: 70px;
    padding-top: 20px;
  }
  &__inputs {
    &_drag {
      margin-top: 33px;
      border: 1px dashed $darkBorder;
      padding: 20px;
    }
  }
  &__drag {
    &-label {
      @include isFlex();
      position: relative;
    }
    &-input {
      position: absolute;
      top: 0;
      visibility: hidden;
    }
  }
}
