.stories {
  padding: 0;
  &__heading {
    & > p {
      @media #{$xl} {
        display: block;
        margin-bottom: 0;
      }
    }
  }

  &__content {
    color: $ligthText;
    &-wrapper {
      padding: 41px 0 227px;
      @include bgImg('@~images/bg/Client320.jpg', no-repeat, center, cover);
      position: relative;

      @media #{$md} {
        padding: 85px 0 227px;
      }
      @media #{$xl} {
      }
    }
  }
  &__main-button {
    margin-top: 29px;
    border: none;
    width: 100%;
    padding: 17px 30px 19px;
    @media #{$md} {
      margin-left: 0;
    }
    @media #{$xl} {
    }
  }
  &__slider {
    margin-top: -185px;
    margin-bottom: 75px;
    @media #{$md} {
      margin-bottom: 0;
    }
    @media #{$xl} {
      width: 1000px;
      margin: -185px auto 0;
      padding-left: 200px;
    }

    & .slick {
      &-list {
        @media #{$xl} {
          overflow: visible;
        }
      }

      &-slide {
        padding: 0 12px;
        @media #{$md} {
          padding: 0 28px;
        }
        @media #{$xl} {
        }
      }
    }
  }
  &__arrow {
    bottom: -65px;
    z-index: 2;
    @media #{$md} {
      bottom: 55px;
    }
    @media #{$xl} {
    }

    &.slick {
      &-prev {
        right: calc(50% + 10px);
        @media #{$md} {
          left: auto;
          right: 130px;
        }
        @media #{$xl} {
          right: 160px;
        }
      }

      &-next {
        left: calc(50% + 10px);
        @media #{$md} {
          right: 55px;
          left: auto;
        }
        @media #{$xl} {
          right: 80px;
        }
        .round-btn-bg {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__slide {
    padding: 45px 21px;
    background: $themeLightColor;
    box-shadow: $boxShadowCard;
    margin-bottom: 10px;
    @media #{$md} {
      padding: 45px 30px;
    }
    &-heading {
      line-height: 1.3em;
      margin-bottom: 25px;
      @media #{$xl} {
        width: 320px;
      }
    }
    &-intro {
      margin-bottom: 28px;
      @media #{$xl} {
        width: 320px;
      }
    }
    &-buttons {
      @include isFlex(center, space-between);
      margin-bottom: 40px;
      @media #{$sm} {
        width: 300px;
      }
    }
    &-button {
      font-weight: normal;
      width: calc(50% - 5px);
      margin-bottom: 8px;
      @media #{$sm} {
        width: auto;
      }
    }
    &-cta {
      width: 100%;
      font-size: 14px;
      margin-bottom: 20px;
      @media #{$md} {
        margin: 120px 0 0;
        width: 260px;
      }
      @media #{$xl} {
        margin: 75px 0 0;
        width: auto;
      }
    }
  }
}
